@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kaylie Knase: Assignment 10</h1>
</div>

<h3>Admin Page</h3>

<a asp-controller="Car" asp-action="Add"
   class="btn btn-primary">Add a Vehicle</a>

