@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kaylie Knase: Assignment 6</h1>
</div>

<h3>Check out Knase Suburu, where we feature "reliable" cars (really, they are!) flanked by a small army of wacky, waving inflatable, arm-flailing tubemen!</h3>
