
    @{
        ViewBag.Title = "Add Car";
    }
    <form action="SubmitAdd" method="post">

        <h1>Add a vehicle:</h1>
        <table class="table table-bordered table-striped">

            <tr>
                <td>Year</td>
                <td><input type="text" name="year" /></td>
            </tr>

            <tr>
                <td>Make</td>
                <td><input type="text" name="make" /></td>
            </tr>
            <tr>
                <td>Model</td>
                <td><input type="text" name="model" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="price" /></td>
            </tr>
            <tr>
                <td>Mileage</td>
                <td><input type="text" name="mileage" /></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input type="text" name="color" /></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-info" value="Add">
    </form>
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-primary">Home</a>
