@model Car
    @{
        ViewBag.Title = "Add Car";
    }
    <form action="SubmitAdd" method="post">

        <h1>Add a vehicle:</h1>
        <table class="table table-bordered table-striped">

            @*<tr>
            <td>Year</td>
            <td><input asp-for="Year" /></td>
        </tr>
        <tr>
            <td>Make</td>
            <td><input asp-for="Make" /></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input asp-for="Model" /></td>
        </tr>*@

            <tr>
                <td>Year</td>
                <td><input required type="number" min="1950" max="2020" name="year" /></td>
            </tr>
            <tr>
                <td>Make</td>
                <td><input required type="text" name="make" /></td>
            </tr>
            <tr>
                <td>Model</td>
                <td><input required type="text" name="model" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input required type="number" min="100" max="100000" name="price" /></td>
            </tr>
            <tr>
                <td>Mileage</td>
                <td><input required type="number" min="0" max="300000" name="mileage" /></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input required type="text" name="color" /></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-info" value="Add">
    </form>
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-primary">Home</a>
